.title-banner{
    background-color:#6b6b6b52;
    padding: 1rem 0rem 1rem 0rem;
}

.title-banner h1 {
    font-size: 3rem;
}

.title-banner h2 {
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {

    .title-banner h1{
        font-size: 2rem;
    }
    .title-banner h2{
        font-size: 1.5rem;
    }
}

