.content {
    background-color: #6b6b6b5b;
    color: #B0B5C2;
    margin: 1rem auto;
    border: 1px solid rgba(131, 58, 58, 0.205);
    max-width: 900px;
    font-size: 1.15rem;
}

.content p {
    margin: 1rem 10rem;
    line-height: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-around;
    background-color: #6b6b6b5b;
    padding: 2rem 0rem;
    font-size: 1.5rem;
    color: #B0B5C2
}

span:hover{
    color: rgb(51, 0, 0);
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .content p {
        margin: 0rem 4rem;
    }
    .nav {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1600px) {
    .content {
        font-size: 1.25rem;
        max-width: 1200px;
        border-radius: 50px;
    }
    .content p {
        line-height: 1.75rem;
    }

}